nav{
    background-color: #6AB445;
}
body{
    background-color: white;
}
.required::after {
    content: "*";
    color: red;
}
.checked {
    color: orange;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}
#text {
    margin-top: 3rem;
}
#button {
    margin-top: 8em;
}